<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />
 
   
    <form>
    
        <div class="form-group">
            <h4 for="exampleFormControlInput1">Choose a username to remain anonymous</h4>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="politicsLover123">
        </div>
        <div class="form-group">
            <h2 for="exampleFormControlSelect1">Choose the answer you most agree with </h2>
            <br>
            
            <h6>Question 1</h6>
            <h5> Are you in favor of decriminalizing drug use?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, and retroactively reduce sentences for those already serving time</option>
                <option value = "2">Yes, for most but not all drugs</option>
                <!-- <option>3</option>
                <option>4</option> -->
                <option value = "4">No, we should pass tougher drug laws</option>
            </select>
            <br><br>

            <h6>Question 2</h6>
            <h5>Should the supreme court be reformed to include more seats and term limits on judges?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, add more seats and term limits on judges</option>
                <option value = "2">Yes, but only to impose term limits</option>
                <option value = "3">Yes, but only to include more seats</option>
                <!-- <option>4</option> -->
                <option value = "5">No, reforming the Supreme Court is unconstitutional and would upset the balance of power
                </option>
            </select>

            <br><br>

            <h6>Question 3</h6>
            <h5>Should the government increase or decrease military spending?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">INCREASE</option>
                <option value = "2">Yes, but only to impose term limits</option>
                <option value = "3">Yes, but only to include more seats</option>
                <!-- <option>4</option> -->
                <option value = "5">DECREASE</option>
            </select>

            <br><br>

            <h6>Question 4</h6>
            <h5>Should the military fly drones over foreign countries to gain intelligence and kill suspected terrorists?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, the military has no right to do so without a Congressional declaration of war</option>
                <option value = "2">No, only to gather intelligence, not to kill suspected terrorists</option>
                <!-- <option>3</option> -->
                <option value = "4">Yes, but only with permission from the country in question or in very selective crisis situations</option>
                <option value = "5">Yes, the U.S. needs to use all means necessary to combat terrorism
                </option>
            </select>

            <br><br>

            <h6>Question 5</h6>
            <h5>Should convicted criminals have the right to vote?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, every citizen deserves the right to vote.</option>
                <option value = "2">Yes, but only after completing their sentences.</option>
                <option value = "3">Yes, except for felons convicted of murder or violent crimes.</option>
                <!-- <option>4</option> -->
                <option value = "5">No.
                </option>
            </select>

            <br><br>

            <h6>Question 6</h6>
            <h5>Should there be more restrictions on the current process of purchasing a gun?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, require strict background checks, psychological testing, training, and more regulations</option>
                <option value = "2">Yes, but changing regulations on automic assault rifles, and magazines is enough</option>
                <!-- <option >3</option> -->
                <option value = "4">No, only for the criminals and mentally ill</option>
                <option value = "5"> No, the second ammendment is a constitutional right and foundation of this country
                </option>
            </select>

            <br><br>
            <h6>Question 7</h6>
            <h5>Do you support a single-payer healthcare system (Medicare for all)?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, private companies should not be able to profit off healtcare </option>
                <option value = "2">Yes, this system guarentees healthcare for all</option>
                <option value = "3">Yes, but still allow people to use private insurance</option>
                <option value = "4">No, this system is too expensive</option>
                <option value = "5">No, the government should not be involved in healthcare
                </option>
            </select>

            <br><br>
            <h6>Question 8</h6>
            <h5>Should cities open drug "safe havens" where people who are addicted to illegal drugs can use them under the supervision of medical professionals?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, drug abuse should be treated as a health issue, not a criminal issue.</option>
                <!-- <option value = "2">2</option>
                <option value = "3">3</option> -->
                <option value = "4">No, this would encourage drug use and lower funding for rehabilitation centers</option>
                <option value = "5">No, drugs are illegal and drug abuse is a criminal act.
                </option>
            </select>

            <br><br>
            <h6>Question 9</h6>
            <h5>Should the federal government pay for tuition at four-year colleges and universities?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, every student should recieve a free college education		</option>
                <option value = "2">Yes, but not for Americans in the top 20% of earners</option>
                <option value = "3">No, but provide more scholarship oppertunities for low income students</option>
                <option value = "4">No, but provide lower interest rates for student loans</option>
                <option value = "5">No, this plan is unrealistic and the current system works great for those who try their hardest and push to succeed	
                </option>
            </select>

            <br><br>
            <h6>Question 10</h6>
            <h5>Do you support common core national standards?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, I support the concept but not the current implementation </option>
                <option value = "2">Yes, I support a this but allow states and local districts to customize their options</option>
                <!-- <option value = "3">NULL</option> -->
                <option value = "4" >No, education should be handled at the state and local level instead of national leve </option>
                <option value = "5">No, teach to each student's potential instead of uniform testing.
                </option>
            </select>

            <br><br>
            <h6>Question 11</h6>
            <h5>Do you support the use of hydraulic fracking to extract oil and natural gas resources?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, we should pursue more sustainable energy resources instead</option>
                <option value = "2">No, more safety and environmental regulations need to be put into place to continue</option>
                <!-- <option>3</option> -->
                <option value = "4">Yes, but we should also pursue more sustainable resources</option>
                <option value = "5">Yes, the economy matters more than environmental concerns, and we need to rely on our own country to get our oil
                </option>
            </select>

            <br><br>
            <h6>Question 12</h6>
            <h5>Should disposable products (such as plastic cups, plates, and cutlery) that contain less than 50% of biodegradable material be banned?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, anything that contains less than 75%	</option>
                <option value = "2">Yes, anything less than 50%</option>
                <!-- <option>3</option> -->
                <option value = "4">No, but increase tax incentives for companies that make biodegradable products</option>
                <option value = "5">No, thats unecessary and not a change I want to make
                </option>
            </select>

            <br><br>
            <h6>Question 13</h6>
            <h5>Do you support the use of nuclear energy?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, we should invest in cleaner alternatives such as wind, hydroelectric, thorium, and geothermal</option>
                <!-- <option>2</option> -->
                <option value = "3">Yes, temporarily while we increase investment into cleaner renewable alternatives</option>
                <!-- <option>4</option> -->
                <option value = "5">Yes, the risks are low and the benefits are high
                </option>
            </select>

            <br><br>
            <h6>Question 14</h6>
            <h5>Should the U.S. build a wall along the southern border?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, the border crisis is a human rights crisis and we need to welcome asylum seekers</option>
                <option value = "2">No, this would be too costly and ineffective</option>
                <!-- <option>3</option> -->
                <option value = "4">Yes, but make it high-tech surveillance barrier instead of a physical one</option>
                <option value = "5">Yes, and Mexico should pay for it.
                </option>
            </select>

            <br><br>
            <h6>Question 15</h6>
            <h5>Should legal immigrants be deported if they commit a serious crime?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, deportation causes more harm than good</option>
                <option value = "2">No, only if they have entered the country illegaly</option>
                <option value = "3">Yes, as long as it is safe for them to return to their country</option>
                <option value = "4">Yes, but after they have finished serving their sentence</option>
                <option value = "5">Yes, immiediatly, and that includes for entering into our country illegaly
                </option>
            </select>

            <br><br>
            <h6>Question 16</h6>
            <h5>Should the U.S. raise or lower the tax rate for corporations?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Raise them </option>
                <option value = "2">Maintain the current rates but eliminate deductions and loop holes </option>
                <option value = "3">Maintain the current rates</option>
                <option value = "4">Lower, but eliminate deductions and loop holes</option>
                <option value = "5"> Lower them 
                </option>
            </select>

            <br><br>
            <h6>Question 17</h6>
            <h5>Do you support a universal basic income program?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, everyone should recieve an income to cover basic necessities including food and housing</option>
                <!-- <option>2</option> -->
                <option value = "3">No, but we need to impliment better programs to address poverty and income inequality</option>
                <!-- <option>4</option> -->
                <option value = "5">No, this will encourage people not to work and harm economic growth
                </option>
            </select>

            <br><br>
            <h6>Question 18</h6>
            <h5>Should the President offer tax breaks to individual companies to keep jobs in the U.S.?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, its important to create and keep jobs here</option>
                <option value = "2">Yes and drastically increase taxes and import tariffs on outsourcing businesses</option>
                <!-- <option>3</option> -->
                <option value = "4">No, the government should not interfere with the free market</option>
                <option value = "5">No, but drastically incease taxes and import tariffs on ousourcing businesses
                </option>
            </select>

            <br><br>
            <h6>Question 19</h6>
            <h5>Should the government add or increase tariffs on products imported into the country?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, a global free trade system is better for our businesses and consumers</option>
                <option value = "2">No, this will hurt our manufacturing business that rely on importing cheap resources to make their products</option>
                <!-- <option>3</option> -->
                <option value = "4">Yes, this will help create and save more jobs</option>
                <option value = "5">Yes, the US has the right to use economic policy to position themselves against other countries
                </option>
            </select>

            <br><br>
            <h6>Question 20</h6>
            <h5>Should the US assassinate suspected terrorists in foreign countries?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No</option>
                <option value = "2">No, they should be captured and given a fair trial</option>
                <!-- <option>3</option> -->
                <option value = "4">Yes, but only if there is undeniable evidence they are planning to attack our country</option>
                <option value = "5">Yes, we must defeat terrorism
                </option>
            </select>

            <br><br>
            <h6>Question 21</h6>
            <h5>Should the President be able to authorize military force against Al-Qaeda without Congressional approval?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">No, Congress should approve all military conflicts</option>
                <!-- <option>2</option>
                <option>3</option>
                <option>4</option> -->
                <option value = "5">Yes, we must use whatever means necessary to prevent another terrorist attack
                </option>
            </select>

            <br><br>
            <h6>Question 22</h6>
            <h5>Shoud transgender athletes be allowed to compete in athletic events?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, we need to embrace and celebrate everybody</option>
                <!-- <option>2</option> -->
                <option value = "3">Yes, but only if their hormone levels are equivilent to those in the gender caegory in which they compete</option>
                <!-- <option>4</option> -->
                <option value = "5">No, athletes should compete based on their biological sex that is listed on their birth certificate
                </option>
            </select>

            <br><br>
            <h6>Question 23</h6>
            <h5>Should businesses be required to have women on their board of directors?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, the goverment should do more to require diversity in the workplaces</option>
                <!-- <option>2</option>
                <option>3</option>
                <option>4</option> -->
                <option value = "5"> No, board members should be the most qualified regardless of gender
                </option>
            </select>

            <br><br>
            <h6>Question 24</h6>
            <h5>Should the government support a separation of church and state by removing references to God on money, federal buildings, and national monuments?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes</option>
                <option value = "2">Yes, but do not waste money removing existing references</option>
                <!-- <option>3</option> -->
                <option value = "4">No, as long as it does not reference a specific religion</option>
                <option value = "5">No, I believe in less seperation of church and state
                </option>
            </select>

            <br><br>
            <h6>Question 25</h6>
            <h5>Should the government continue to fund Planned Parenthood?</h5>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value = "1">Yes, pro-choice and their their services reach far beyond abortions .</option>
                <!-- <option>2</option> -->
                <option value = "3">Yes, as long funding is not used for abortions.</option>
                <option value = "4">No, I am pro-life but should be allowed in cases of rape, incest, or danger to the mother.</option>
                <option value = "5">No, I am pro-life and the government should not give funds to any organizations that perform abortion.
                </option>
            </select>

            <br><br>

            <button type="button" id = "submitButton" class="btn btn-outline-dark"><a href="results.html"> submit </button>
        </div>
        <br>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        </body>

</html>
